@font-face {
    font-family: 'modernSans';
    src: url(fontes/ModernSans-Light.otf) format(OpenType);
    font-weight: normal;
    font-style: normal;
}

/* GERAIS */


body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

header {
    background: linear-gradient(90deg, rgba(149, 168, 216, 0.6), rgba(175, 124, 242, 0.6), rgba(193, 152, 245, 0.6) 30.95%, rgba(223, 194, 246, 0.6), rgba(220, 193, 248, 0.6), rgba(244, 199, 227, 1));
    height: 95vh;
}

.row {
    margin: 0;
}

.nav-container {
    padding: 0;
    z-index: 999;
}


.container {
    padding: 10px;
}

p,
li {
    color: #063FD4;
    font-size: 2rem;
}

/* BARRA DE NAVEGAÇÃO */

#navbar-links a {
    color: #063FD4;
    font-size: 2.1rem;

}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-bottom: 1rem 8rem;
    z-index: 1;

}

#navbar-links a:hover{
    background-color: #AF7CF2;
    border-radius: 20px;
}

/*INICIO-HEADER*/
.container-fluid {
    padding: 0;
    margin: 0;
}

.inicio {
    height: 90vh;
    color: #063FD4;

}

.titulo-header {
    font-size: 5rem;
    position: relative;
    top: -70px;
}

.subtitulo-header {
    font-size: 3rem;
    position: relative;
    top: -70px;
}


/*MAIN */

/*PRIMEIRA SESSÃO*/

.primeira-sessão {
    height: 120vh;
}

.item3 {
    position: relative;
}

.item3 img {
    position: absolute;
    top: -300px;
}

.item1,
.item2 {
    width: 110vh;
    height: 40vh;
}

.p-primeira-sessão {
    font-size: 2rem;
    text-align: justify;
    padding: 40px 30px;
}

/*PRIMEIRA SESSÃO*/

/*SEGUNDA SESSÃO*/

.segunda-sessão{
    height: 130vh;

}

.item-semi-circulo {
    height: 80vh;
    width: 85vh;
    position: absolute;

}

.item-semi-circulo img {
    display: flex;
    position: absolute;
    top: -400px;
    z-index: 1;

}

.item-metodologia-p-1 {
    margin-left: 60px;
}

.titulo-primeira-sessão {
    color: #063FD4;
    text-align: center;
    padding: 20px;
}

.p-segunda-sessão {
    font-size: 2rem;
    text-align: justify;
    padding: 15px 30px;
}

.p-segunda-sessão-pdl {
    font-size: 2rem;
    text-align: justify;
    padding: 130px 30px;
}

.item-metodologia-p-2 {
    width: 100vh;
}

.item-books {
    margin-left: 50%;
}

/*PRATIQUE E DESENVOLVA*/

.pratique {
    height: 130vh;
}

.pratique-back {
    background: linear-gradient(90deg, rgba(149, 168, 216, 0.6), rgba(175, 124, 242, 0.6), rgba(193, 152, 245, 0.6) 30.95%, rgba(223, 194, 246, 0.6), rgba(220, 193, 248, 0.6), rgba(244, 199, 227, 1));
}

.titulo-sessão {
    color: #063FD4;
    text-align: center;
    padding: 70px;
}

.card img {
    max-width: 55vh;
    max-height: 90vh;
}

.card,
.card-title {
    color: #fff;
    font: 5rem;
}

.text-card {
    color: #fff;
    font-size: 1.5rem;
}

.text-card {
    visibility: hidden;
    opacity: 0;
}

.card-body {
    height: 150px;
    background-color: rgb(27, 27, 27, 0.5);
    position: absolute;
    bottom: -3px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.8s all;
}

.card:hover .card-body {
    height: 180px;
    bottom: 20;
    background-color: rgba(0, 0, 0, 0.5);
}

.card:hover .text-card {
    opacity: 1;
    visibility: visible;
}

/*PLANOS*/

.item-above img {
    z-index: 99;
}

.item1-plano,
.item2-plano,
.item3-plano {
    width: 50vh;
    height: 110vh;
    text-align: center;
    padding: 15px;
    background-image: linear-gradient(180deg, #CFE8F5, #DBCDF7, rgba(219, 191, 255, 0.5), #FCF2FA, transparent);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.plano-titulo {
    color: #063FD4;
    padding: 20px;
}

.plano-texto {
    margin-top: 50px;
    font-size: 1.5rem;
    padding: 10px;
}

.preço {
    font-size: 1.5rem;
    color: #063FD4;
}

.tamanho {
    width: 90%;
}

.item1-plano:hover {
    transform: scale(1.1);
    transition: 0.5s all;
}

.item2-plano:hover {
    transform: scale(1.1);
    transition: 0.5s all;
}

.item3-plano:hover {
    transform: scale(1.1);
    transition: 0.5s all;
}

.alemao{
    margin-top: 50px;
}

#botao2{
    margin-top: 60px;
}

#botao3{
    margin-top: 90px;
}



/*PLANOS*/

/*MEUS ALUNOS*/
#quarta-sessão{
    background: linear-gradient(90deg, rgba(149, 168, 216, 0.6), rgba(175, 124, 242, 0.6), rgba(193, 152, 245, 0.6) 30.95%, rgba(223, 194, 246, 0.6), rgba(220, 193, 248, 0.6), rgba(244, 199, 227, 1));
}
.quarta-sessão {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;

}

.testimonial {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px  rgba(80, 68, 112, 0.6);
    background-color: rgb(255, 255, 255);
  }
  .testimonial .image {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
  }
  .testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    height: 100%;
    width: 100%;
  }
  .slide p {
    text-align: center;
    padding: 0 160px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #333;
  }
  .slide .quote-icon {
    font-size: 30px;
    color: #4070f4;
  }
  .slide .details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .details .name {
    font-size: 14px;
    font-weight: 600;
    color: #333;
  }
  .details .job {
    font-size: 12px;
    font-weight: 400;
    color: #333;
  }
  /* swiper button css */
  .nav-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translateY(30px);
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.2s;
  }
  .nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .nav-btn::after,
  .nav-btn::before {
    font-size: 20px;
    color: #063FD4;
  }
  .swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .swiper-pagination-bullet-active {
    background-color: #4070f4;
  }

  /*MEUS ALUNOS*/

  @media screen and (max-width: 768px) {

    .slide p {
      padding: 0 20px;
    }
    .nav-btn {
      display: none;
    }
  }





   

  
