@font-face {
    font-family: 'modernSans' ;
    src: url(fontes/ModernSans-Light.otf) format(OpenType);
    font-weight: normal;
    font-style: normal;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'modernSans', 'Times New Roman', Times, serif;
}

header{
    background-image: url(Img/Rectangle\ 1.png);
    width: 100%;
    height: 730px;
    background-size: 100%;
}

nav{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 50px;
    height: 60px;

}

nav ul {
    margin-top: 10px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    color: #063FD4;
    font-size: 25.5px;

}

nav li {
    margin: 0 20px;
}

nav a{
    text-decoration: none;
}

li:hover{
    height: 25px;
    background-color: rgba(193, 152, 245, 0.7);
    border-radius: 10px;
    padding: 10px;
    transition: 0.7s;

}

.titulo_subt{
    position:absolute;
    width: 50%;
    margin-left: 5%;
    margin-top: 15%;  
}

.titulo_subt h1{
    font-size: 135px;
    color: #fff;
    text-align: center;
    font-weight: 100;

    animation:fadeIn;
    animation-duration: 2.5s;
   
    
}

.titulo_subt p{
    width: 70%;
    margin-left: 15%;
    text-align: center;
    font-size: 30px;
    color: #063FD4;
    float: left;

    animation:fadeIn;
    animation-duration: 2.5s;
    
}

.forma_redonda{
    position: absolute;
    margin-right: 0;
    margin-left: 55.9%;
    margin-top: 10px;
    
}

.redonda{
    position: absolute;
}

.boneco{
    position: absolute;
    margin-left: 90px;
    margin-top: 105px;
    
}

