@font-face {
    font-family: 'modernSans' ;
    src: url(fontes/ModernSans-Light.otf) format(OpenType);
    font-weight: normal;
    font-style: normal;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'modernSans', 'Times New Roman', Times, serif;
}

section{
    background-image: url(Img/Rectangle\ 1.png);
    width: 100%;
    height: 742px;
    background-size: 100%;
}

nav{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 50px;
    height: 60px;

}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    color: #063FD4;
    font-size: 25.5px;

}

nav li {
    margin: 0 20px;
}

.titulo_subt{
    position:absolute;
    width: 50%;
    margin-left: 5%;
    margin-top: 15%;  
}

.titulo_subt h1{
    font-size: 130px;
    color: #fff;
    text-align: center;
}

.titulo_subt p{
    width: 50%;
    margin-left: 25%;
    text-align: center;
    font-size: 25px;
    color: #063FD4;
    float: left;
}

.forma_redonda{
    position: absolute;
    margin-right: 0;
    margin-left: 55.9%;
    margin-top: 10px;
    
}