@font-face {
    font-family: 'modernSans';
    src: url(fontes/ModernSans-Light.otf) format(OpenType);
    font-weight: normal;
    font-style: normal;
}

/* GERAIS */


body {
    font-family: 'Roboto', sans-serif;
}

header {
    background: linear-gradient(90deg, rgba(149, 168, 216, 0.6), rgba(175, 124, 242, 0.6), rgba(193, 152, 245, 0.6) 30.95%, rgba(223, 194, 246, 0.6), rgba(220, 193, 248, 0.6), rgba(244, 199, 227, 1));
    height: 95vh;
}

.row {
    margin: 0;
}

.nav-container {
    padding: 0;
    z-index: 999;
}


.container {
    padding: 10px;
}

p,
li {
    color: #063FD4;
    font-size: 2rem;
}

/* BARRA DE NAVEGAÇÃO */

#navbar-links a {
    color: #063FD4;
    font-size: 2.1rem;

}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-bottom: 1rem 8rem;
    z-index: 1;

}


/*INICIO-HEADER*/
.container-fluid {
    padding: 0;
    margin: 0;
}

.inicio {
    height: 90vh;
    color: #063FD4;

}

.titulo-header {
    font-size: 5rem;
    position: relative;
    top: -70px;
}

.subtitulo-header {
    font-size: 3rem;
    position: relative;
    top: -70px;
}


.custom-hr {
    border: none;
    height: 2px;
    border: solid #AF7CF2;
    margin: 20px 0;
}


/*MAIN */

/*PRIMEIRA SESSÃO*/

.primeira-sessão {
    height: 150vh;
}

.item3 {
    position: relative;
}

.item3 img {
    position: absolute;
    top: -300px;
}

.item1,
.item2 {
    width: 110vh;
    height: 55vh;
}

.p-primeira-sessão {
    font-size: 2rem;
    text-align: justify;
    padding: 70px 30px;
}

/*PRIMEIRA SESSÃO*/

/*SEGUNDA SESSÃO*/

.item-semi-circulo {
    height: 65vh;
    width: 95vh;
    position: absolute;
    border-radius: 10px 10px 350px 350px;
    background: linear-gradient(180deg, rgba(220, 193, 248, 0.6), rgba(244, 199, 227, 0.5), transparent);

}

.item-semi-circulo img {
    position: absolute;
    top: -290px;
    z-index: 1;
    
}

.item-metodologia-p-1 {
    margin-left: 60px;
}

.titulo-primeira-sessão {
    color: #063FD4;
    text-align: center;
    padding: 20px;
}

.p-segunda-sessão {
    font-size: 2rem;
    text-align: justify;
    padding: 15px 30px;
}
.p-segunda-sessão-pdl{ 
    font-size: 2rem;
    text-align: justify;
    padding: 130px 30px; 
}

.item-metodologia-p-2 {
    width: 100vh;
}

.item-books {
    margin-left: 40%;
}

/*PRATIQUE E DESENVOLVA*/

.pratique{
    height:130vh;
}

.pratique-back{
    background: linear-gradient(90deg, rgba(149, 168, 216, 0.6), rgba(175, 124, 242, 0.6), rgba(193, 152, 245, 0.6) 30.95%, rgba(223, 194, 246, 0.6), rgba(220, 193, 248, 0.6), rgba(244, 199, 227, 1));
}
.titulo-sessão {
    color: #063FD4;
    text-align: center;
    padding: 70px;
}

.card img {
    max-width: 55vh;
    max-height: 90vh;
}

.card,
.card-title {
    color: #fff;
    font: 5rem;
}

.text-card {
    color: #fff;
    font-size: 1.5rem;
}

.text-card {
    visibility: hidden;
    opacity: 0;
}

.card-body {
    height: 150px;
    background-color: rgb(27, 27, 27, 0.5);
    position: absolute;
    bottom: -3px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.8s all;
}

.card:hover .card-body {
    height: 159px;
    bottom: 20;
    background-color: black;
}

.card:hover .text-card {
    opacity: 1;
    visibility: visible;
}

/*PLANOS*/

.item-above img{
    z-index: 99;
}
.item1-plano, .item2-plano, .item3-plano{
    width: 50vh;
    height: 105vh;
    text-align: center;
    padding: 15px;
    background-image: linear-gradient(180deg, #CFE8F5, #DBCDF7, rgba(219, 191, 255, 0.5), #FCF2FA, transparent);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.plano-titulo{
    color: #063FD4;
    padding: 20px;
}

.plano-texto{
    font-size: 1.5rem;
    padding: 10px;
}

.preço{
    font-size: 2rem;
    color: #063FD4;
}

.tamanho{
    width: 90%;
}

.item1-plano:hover{
    transform: scale(1.1);
    transition: 0.5s all;
}

.item2-plano:hover{
    transform: scale(1.1);
    transition: 0.5s all;
}

.item3-plano:hover{
    transform: scale(1.1);
    transition: 0.5s all;
}

/*PLANOS*/

/*MEUS ALUNOS*/



/*MEUS ALUNOS*/