@font-face {
    font-family: 'modernSans';
    src: url(fontes/ModernSans-Light.otf) format(OpenType);
    font-weight: normal;
    font-style: normal;
}

/* GERAIS */


body{
    font-family: 'Roboto', sans-serif;
}

.row{
   margin:0; 
}

.nav-container{
    padding: 0;
    z-index: 999;
 }
 

.container{
    padding: 10px;
}

p, li{
    color:#063FD4 ;
    font-size: 14px;
}

/* BARRA DE NAVEGAÇÃO */

#navbar-links a{
    color: #063FD4;
    font-size: 25px;

}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-bottom:  1rem 8rem;
    z-index: 1;

}

/*MAIN */

/* INICIO */

.container-fluid{
    padding: 0;
    margin: 0;
}

.inicio{
    background-color: #AF7CF2;
    height: 90vh;
    color: #fff;

}

.inicio h2{
    font-size: 5rem;
}

.inicio span{
    font-size: 2rem;
}
/* PRIMEIRA SESSÃO DE CONTEUDO */
.fist-section-grid {
    display: grid; 
 
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    gap: 0px;
    height: 100vh;
    
 }
   
 #p-0{
    width: 55rem;
    height: 25rem;
  
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 2;
    grid-column-end: 3;
    
 }
 #p-1 {
 
    grid-row-start: 2;
    grid-column-start: 1;
 
    grid-row-end: 3;
    grid-column-end: 3;
    
 }
 #boneco-2 {
    position: relative; 
    width: 35rem;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
}

#boneco-2 img {
    position: relative; 
    z-index: 1;
    margin-top: -300px; 
}

.p-first-section{
    padding: 3rem;
    text-align: justify;
    font-size: 2rem;
}

.custom-hr {
    border: none;
    height: 2px;
    border: solid #AF7CF2;
    margin: 20px 0; 
}

 /* PRIMEIRA SESSÃO DE CONTEUDO */

 /* SEGUNDA SESSÃO */

 .angry-grid {
    display: grid; 
 
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    gap: 0px;
    height: 100%;
    
 }
   
 #item-0 {
 
    background-color: #5DC5A5; 
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 2;
    grid-column-end: 3;
    
 }
 #item-1 {
 
    background-color: #7989B9; 
    grid-row-start: 1;
    grid-column-start: 3;
 
    grid-row-end: 2;
    grid-column-end: 5;
    
 }
 #item-2 {
 
    background-color: #BCC67D; 
    grid-row-start: 2;
    grid-column-start: 1;
 
    grid-row-end: 3;
    grid-column-end: 3;
    
 }
 #item-3 {
 
    background-color: #5BEA98; 
    grid-row-start: 2;
    grid-column-start: 3;
 
    grid-row-end: 3;
    grid-column-end: 4;
    
 }