@font-face {
    font-family: 'modernSans';
    src: url(fontes/ModernSans-Light.otf) format(OpenType);
    font-weight: normal;
    font-style: normal;
}

/* GERAIS */

body{
    font-family: 'Roboto', sans-serif;
}

.row{
   margin:0; 
}

.container{
    padding: 10px 0;
}

p, li{
    color:#063FD4 ;
    font-size: 14px;
}

/* BARRA DE NAVEGAÇÃO */

.nav-container{
   z-index: 1;
}


#navbar-links a{
    color: #063FD4;
    font-size: 25px;

}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem, 8rem;
}


